[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "melidosData"]
	path = melidosData
	url = https://github.com/melidosproject/melidosdata
